<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<link rel="stylesheet" href="/css/forms.css" />
<body>
  <div><%= message %></div>
  <form class="form" action="/login" method="POST">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email" />

    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" />

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit" class="btn btn-secondary">Login!</button>
    <a href="/reset">Reset your password</a>
  </form>

  <%- include('../includes/head.ejs') %>
</body>
