<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container">
    <div><%= message %></div>
    <form action="/new-password" method="POST">
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
        />
      </div>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
      <button type="submit" class="btn btn-secondary">Update password!</button>
    </form>
  </div>
  <%- include('../includes/head.ejs') %>
</body>
