<% if (questions) { %>
  <div class="questions">
    <% questions.forEach(question => { %>

    <ul class="questions-list">
      <li class="questions-list__item">
        <h3 class="question-title">
          Question:
          <a href="/questions/<%=question._id%>"><%= question.title %></a>
        </h3>
      </li>
      <li class="questions-list__item question-content">
        <p>
          Category:
          <span class="category-name"><%= question.category.title %></span>
        </p>
        <p class=""><%= question.content %></p>
        <div class="question-details">
          <p class="posted-by">Posted by <%= question.user.email %></p>
          <form action="/questions/delete/<%= question._id %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="delete-question" type="submit">Delete</button>
          </form>
        </div>
      </li>
    </ul>

    <% }) %>
  </div>
  <% } %>