<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css" />
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="categories">
      <h1>Categories</h1>
      <ul class="categories-list">
        <% categories.forEach(category => { %>
        <li class="categories-list__item">
          <a href="/categories/<%= category._id %>"><%= category.title %></a>
        </li>
        <% }) %>
        <li class="category-list__item category-button">
          <a href="/add-category">Add new category</a>
        </li>
      </ul>
    </div>
    <%- include('../includes/questions.ejs') %>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
