<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="question">
    <h3><%= question.title %></h3>
    <p><%= question.content %></p>
    <p class="font-italic mute">Posted by: <span class="user-email"><%= question.user.email %></span></p>
  </div>
  <form class="form" action="/questions/answer" method="POST">
    <label for="content">Your answer</label>
    <textarea  name="content" id="content" rows="15" ></textarea>

    <input type="hidden" name="questionId" value="<%= question._id %>" />
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit" class="btn btn-secondary">Answer!</button>
  </form>
  <div class="answers">
    <h1>Answers</h1>
  <% answers.forEach(answer=> { %>
  <p><%= answer.content %></p>
  <div class="vote-text">
    <p class="likes">Votes: <%= answer.votes.count %></p>
    
  </div>
  <div class="vote-buttons">
    <form class="form like" action="/questions/add-vote" method="POST">
      <input type="hidden" name="answerId" value="<%=answer._id%>" />
      <input type="hidden" name="questionId" value="<%=question._id%>" />
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit">Like</button>
    </form>
    <form class="form dislike" action="/questions/remove-vote">
      <input type="hidden" name="answerId" value="answer._id" />
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit">Dislike</button>
    </form>
    
  </div> 
  <% }) %>
  </div>
 <%- include('../includes/head.ejs') %>
</body>
