<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<body>
  <%- include('../includes/navigation.ejs') %> 
  <main>
    <div class="categories">
      <h1>Categories</h1>
      <ul class="categories-list">
        <li class="categories-list__item">
          <a href="">node.Js</a>
        </li>
        <li class="categories-list__item">
          <a href="">react.Js</a>
        </li>
        <li class="categories-list__item">
          <a href="">debuging JS</a>
        </li>
        <li class="categories-list__item">
          <a href="">Backend</a>
        </li>
        <li class="categories-list__item">
          <a href="">Fontend</a>
        </li>
      </ul>
    </div>
    <% if (questions) { %> 
      <div class="questions">
      <% questions.forEach(question => { %>
        
          <ul class="questions-list">
            <li class="questions-list__item">
              <h3 class="question-title" >Question: <a href="/questions/<%=question._id%>"><%= question.title %></a></h3>
            </li>
            <li class="questions-list__item question-content">
              <p>Category: <%= question.category.title %></p>
              <p class=""> <%= question.content %></p>
              <p class="posted-by">Posted by <%= question.user.email %></p>
            </li>
            
          </ul>
        
      <% }) %> 
    </div>
    <% } %> 
  </main>
  <%- include('../includes/end.ejs') %>
</body>
